*.html
1get_data/step-three-collection/amerlite
1get_data/step-three-collection/amerlite-dec2019-txt/*.txt
1get_data/step-three-collection/amerlite-txt/**
1get_data/step-three-collection/amerquar-dec2019-txt
1get_data/step-three-collection/amerquar-txt
1get_data/step-three-collection/jamericanhistory-txt
1get_data/step-three-collection/jamericanhistory-dec2019-txt

